#StopEverything {
    cursor: default;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background: #161616;
}

#WarningTitle {
    color: #BDBDBD;
    font-family: "Segoe UI Semibold", serif;
    text-align: center;
    position: relative;
    top: 30%;
}

#Confirmation {
    color: transparent;
    font-family: "Segoe UI Semibold", serif;
    font-size: 10px;
    text-align: center;
    width: 150px;
    position: absolute;
    top: 60%;
    left: calc(50% + 54px);
    transition: color 300ms;
}

#Use {
    border: 3px solid #3f67d7;
    color: #BDBDBD;
    font-family: "Segoe UI Semibold", serif;
    text-align: center;
    position: absolute;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    top: 50%;
    left: calc(50% - 186px);
    transition: border-color 400ms, color 400ms;
}

#Use:hover {
    border-color: #00D4FFFF;
    color: #00D4FFFF;
}

#Use a {
    position: relative;
    top: 25%;
}

#Clear a {
    position: relative;
    top: 25%;
}

#Clear {
    border: 3px solid #be1514;
    color: #BDBDBD;
    font-family: "Segoe UI Semibold", serif;
    text-align: center;
    position: absolute;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    top: 50%;
    left: calc(50% + 66px);
    transition: border-color 400ms, color 400ms;
}

#Clear:hover {
    border-color: #fd605f;
    color: #fd605f;
}